.heading{
    width:100%;
    font-size:23px;
    margin:0;
}
#note{
    color:black;
    font-size:17px;
}
body{
    background:linear-gradient(rgb(201, 201, 245), blue);
}
#input{
    width:40%;
}
canvas{
    background-color:white;
    border-radius:20px;
    box-shadow:10px 10px 10px darkblue;
}